/*
 *
 * Containers
 *
 */
html {
    font-size: 16px;
}

@media only screen and (max-device-width: 800px) {
    html {
        font-size: 12px;
    }
}

#top-level-container {
    margin: auto;
    width: 80%;
    max-width: 818px;
}

@media only screen and (max-device-width: 800px) {
    #top-level-container {
        width: 100%;
    }
}

#banner-container-top {
    /* The original #00FF00 was a bit mad looking, so I reduced the brightness a bit. */
    border-bottom: 0.35em solid #92E027;
}

#banner-container-bottom {
    border-top: 0.35em solid #92E027;
}

#heading-container {
    text-align: center;
    margin: auto;
}

#links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 0.06em solid #92E027;
    margin-top: 1.1em;  /* Margin between the link and the heading, to avoid clicking the link to home.html */
}

.body-container {
    /* This a class so that it doesn't take preference over classes nested under it */
    margin-bottom: 2.5em;  /* Padding at the bottom of the body of text */
}

.profile-flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 2.5em;
}

.profile-img-container {
    margin-bottom: 1.25em;
}

.main-profile-top-container {
    margin-top: 2.5em;
}

.profile-left-container {
    width: 40%;
}

.profile-right-container {
    width: 60%;
}

.main-profile-left-container {
    width: 60%;
}

.main-profile-right-container {
    width: 40%;
}

@media only screen and (max-device-width: 800px) {
    .main-profile-left-container {
        width: 45%;
    }

    .main-profile-right-container {
        width: 55%;
    }
}

.profile-map-container {
    border: 0.06em solid #c5e2d9;
    margin-bottom:  1.25em;
}

.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.non-selectable:hover {
    cursor: pointer;
}


/*
 *
 * Paragraphs
 *
 */
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
}

#heading-container h1 {
    margin-top: 0.35em;  /* Corresponds with margin-top of the links-container that sits below the heading. */
    margin-bottom: 0em;  /* TODO: Possibly remove. Reduce margin below to avoid clicking the link to home.html */
}

p.footnote {
    padding-top: 1.25em;  /* Extra padding above a footnote */
}

.body-container p, .bodycontainer input {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom:  1.25em;
    text-align: justify;
}

.body-container ol, .body-container ul {
    padding-left: 4em;
    padding-right: 4em;
}

@media only screen and (max-device-width: 800px) {
    .body-container p, .body-container ol, .body-container ul, .bodycontainer input {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.body-container h3 {
    padding-left: 1em;
    padding-right: 1em;
}

.no-indent-container p {
    padding-left: 0em;
    padding-right: 0em;
}

.profile-flex-container p {
    margin-top: 0em;  /* Override default in order to align with image in other column */
}

.profile-left-container p {
    padding-left: 0em;  /* Override */
    padding-right: 0em;  /* Override */
    padding-bottom: 0em;  /* Override. Already have an auto margin below, so don't need padding between these short paragraphs */
    text-align: left;
    word-wrap: break-word;
}

.profile-right-container p {
    padding-left: 2.5em;  /* Override */
    padding-right: 0em;  /* Override */
}

@media only screen and (max-device-width: 800px) {
    /* On mobile, gap was too big in the middle, and also text was too close to the right */
    .profile-right-container p {
        padding-left: 1.5em;  /* Override */
        padding-right: 0.5em;  /* Override */
    }
}

.flash p {
    padding: 0.3em 0.6em 0.3em 0.6em;
    background-color: #cae7de;
}

.admin-info-container p {
    padding-bottom: 0em;
}

.admin-container p {
    padding-bottom: 0em;
}

li {
    margin-bottom: 1.25em;
}

/*
 *
 * Images
 *
 */
.profile-container img {
    /* margin-top: 1.25em; */
}

.banner-img {
    width: 80%;  /* TODO: Review. Make the top and bottom banner images slightly smaller, as they take up a lot of screen space. */
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

/*
 *
 * Links
 *
 */
a {
    color: #ADAFB2;
    text-decoration: none;  /* Override underline */
}

a:hover {
     color: #92E027;
}

.hovered-link {
     color: #92E027;
}

.link-item, .active-link-item {
    padding: 0.6em;
    font-family: "Work Sans";
    font-size: 1em;
    text-transform: uppercase;
}

.link-item a {
    color: #ADAFB2;
}

.link-item:hover a {
    color: #92E027;  /* This changes the link color when the div is hovered over, not just the link within it */
}

.active-link-item {
    color: #2A5D4C;
}

/*
 *
 * Fonts
 *
 */
.footnote {
    font-weight: 100;
    color: #707572;
}

.profile-info-key {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 1.1em;
    color: #2A5D4C;
}

.profile-info-value {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 1em;
    color: #ADAFB2;
}

.email-span {
    color: #ADAFB2;  /* Make the same color as a link */
}

.map-text, .map-link {
    font-family: "Work Sans";
}

.map-text {
    font-size: 1em;
    fill: #2A5D4C;
}

.map-link {
    font-size: 1em;
    fill: #ADAFB2;  /* Match regular HTML links */
}

.map-link:hover {
    fill: #92E027;
}

h1 {
    font-family: "Playfair Display";
    font-size: 3.7em;
    font-weight: 300;
    color: #2A5D4C;
    text-transform: uppercase;
}

h2 {
    font-family: "Playfair Display";
    font-size: 1.5em;
    font-weight: 500;
    color: #2A5D4C;
    border-bottom: 0.06em solid #92E027;
}

h3, .edit-farm-key {
    font-family: "Playfair Display";
    font-size: 1.1em;
    font-weight: 500;
    color: #2A5D4C;
    margin-bottom: 0em;
}

u {  /* Changes the behaviour of <u></u> tags. */
    text-decoration: none;
    border-bottom: 0.06em solid #92E027;
}

/* p, ol, form */
p, ol, ul, textarea, input {
    font-family: "Work Sans";
    font-size: 1em;
    color: #484B49;
}

/* Break long words */
p {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /* word-break: break-all; */
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/*
 *
 * Admin
 *
 */
.edit-farm-container {
    border: 0.06em solid #9fc6b9;  /* A bit less saturation than 2A5D4C */
    padding-bottom: 0.3em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.edit-farm-container p {
    /* Override large padding in typical paragraphs */
    padding-bottom: 03m;
    margin-top: 1em;
    margin-bottom: 0em;
}

.subkey-container {
    border: 0.06em solid #c5e2d9;  /* Less saturation than 2A5D4C again */
    /* padding: 2px; */
    margin: 0.1em;
    padding-bottom: 0.3em;
}

.admin-info-container {
    border: 0.06em solid #2A5D4C;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    background-color: #e3ede9;  /* Very light version of 2A5D4C */
}

.admin-info-container p {
    font-family: "Work Sans";
    font-size: 1em;
    line-height: 1.5em;
}

.edit-farm-instruction {
    font-size: 1em;
    color: black;
    font-style: italic;
}

.edit-farm-sub-key {
    color: #2A5D4C;
}

.input-container {
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
}

.body-container input {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.body-container textarea {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    text-align: justify;
}

textarea, input {
    width: 100%;
}

input[type=checkbox] {
    width: auto;
}

input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    margin: 0em 0em 0em 0.3em;
}

input[type=submit] {
    width: auto;
}

input {
    box-sizing: border-box;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

.edit-farm-control, .edit-farm-control-no-hover {
    font-family: "Work Sans";
    font-size: 1em;
    color: #ADAFB2;
}

.edit-farm-control {
    cursor: pointer;
}

.edit-farm-control:hover {
    color: #92E027
}

div.edit-farm-align-right {
    /*
    Was previously making the span float to right, but this would cause the span
    to flow outside of the parent div, so using this div to instead control text
    alignment works better.
    */
    width: 100%;
    text-align: right;
}

.edit-farm-coords-container {
    width: 40%;
}

.edit-farm-coords-svg-container {
    border: 1px solid #c5e2d9;
    margin: 1em;
}

.edit-farm-span-dont-expand {
    display:table-cell;
    padding-right: 0.3px;
}

.edit-farm-span-expand {
    display:table-cell;
    width:100%;
}


/*
 *
 * SVG
 *
 */
.dummy-canvas { /* Required to resize on IE. */
    display: block;
    width: 100%;
    visibility: hidden;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

circle {
    display: block;
    fill: #2A5D4C; /* dark green */
    stroke: #2A5D4C;
    stroke-width: 0.6;
}

.map-circle-main {
    cursor: pointer;
}

.map-circle-main:hover {
    fill: #92E027; /* lime */
}

.map-circle-main-active {
    fill: #92E027; /* lime */
}

.tooltip-background {
    fill: white;
    stroke: none;
    opacity: 0.8;
}

.svg-container {
    position: relative;
}


/*
 *
 * Slideshow
 *
 */
.slideshow-container{
    position: relative;  /* Necessary to allow absolute positioning of text on the image */
    display: block;
    overflow: hidden;
    margin-top: 1.9em;  /* Similar space to that above a h2 */
    margin-bottom: 2.5em;
    height: 25em;
    line-height: 25em;  /* Should be same as height, in order to align imgs vertically. Is checked in JS anyway. */
    text-align: center;  /* Aligns imgs horizonally */
}

figure{
    position: absolute;
    opacity: 0;
    
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
}

figure img{  /* Overrides values set for regular imgs */
    width: auto;
    height: auto;
    max-height: 25em;  /* Should be the same as the container height. Is checked by JS */
    max-width: 100%;
    display: inline-block;  /* To align vertically */
    vertical-align: middle;
}

.vertical-align-span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

figcaption{
    line-height: 1em;
    
    font-family: "Playfair Display";
    font-weight: 200;
    font-style: italic;
    font-size: 1.4em;
    color: #FFFFFF;

    padding-top: 0.15em;
    padding-right: 0.6em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;

    position: absolute;
    bottom: 0em;
    right: 0em;
    background: rgba(0,0,0, .65);
    color: #FFF;
}

figcaption a{
    color: #FFF;
}

figure.show{
    opacity: 1;
    position: static;
}

.next, .prev, .pause{
    line-height: 1em;
    
    font-family: "Gadugi";
    font-weight: 100;
    color: #FFF;
    background: rgba(0,0,0, .6);
    opacity: .2;
    
    position: absolute;
    z-index: 1;
}

.next:hover, .prev:hover, .pause:hover{
    opacity: 1;
}

.pause{
    font-size: 1em;
    bottom: 0em;
    left: 0em;
    padding: 0.2em 0.4em 0.4em 0.4em;
}

.next, .prev{
    font-size: 2em;
    top: 50%;
    margin-top: -.75em;
    padding: 0.3em 0.3em 0.6em 0.3em;
}

.next{
    right: 0;
}

.prev{
    left: 0;
}









